<h2>Resultado de Busca por Munic&iacute;pios</h2>
<p><a href="/" class="btn btn-default" role="button">
<span class="glyphicon glyphicon-arrow-left"></span> Voltar à página inicial</a>
<a href="/comparar" class="btn btn-default" role="button">
<span class="glyphicon glyphicon-signal"></span> Comparar</a></p>

<table width="100%" class="table table-hover">
	<thead>
		<tr><th width="50px">UF</th><th>Munic&iacute;pio</th><th width="50px">Comparar</th></tr>
	</thead>
	<tbody>
		<tr ng-repeat="municipio in listaMunicipios" ng-init="innerIndex = $index">
			<td><span>{{municipio.uf}}</span></td>
			<td><a href="/municipio/{{municipio._id}}">{{municipio.nome}}</a></td>
			<td><input type="checkbox" name="{{municipio.nome}}" id="{{municipio._id}}" ng-model="municipio.checked" ng-change="selecionarMunicipio(listaMunicipios)" ng-init="checked=municipio.checked"></td>
	</thead>
</table>
<center><div id="loadingImg" style="{{estiloImg}}" >
	<img src="images/carregando.gif" alt="Carregando.."/>
</div></center>
<p><a href="/" class="btn btn-default" role="button">
<span class="glyphicon glyphicon-arrow-left"></span> Voltar à página inicial</a>
<a href="/comparar" class="btn btn-default" role="button">
<span class="glyphicon glyphicon-signal"></span> Comparar</a></p>
